@import '~app/assets/stylus'


.wrapper
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: table
  height: 100%
  width: 100%
  background: lighten($errorColor, 90%)
  z-index: $zIndexUnsupportedMessage

.container
  display: table-cell
  vertical-align: middle
  text-align: center

  h1
    font-size: 48px
    margin-bottom: 16px

  p
    font-size: 20px
