@import '~app/assets/stylus'


html
body
:global(#root)
  height: 100%

html
  text-size-adjust: 100%

body
  color: $textColor

a:hover
  text-decoration: none

:global(#root)
  font-family: $fontStack
