@import '~app/assets/stylus'


.root
  line-height: 1.125

  h1
    margin-bottom: 16px
    font-size: 48px
    text-align: center

  p
    font-size: 18px
    text-indent: 2em

    &:not(:last-child)
      margin-bottom: 0.5em

.sectionOuter
  .sectionInner
    min-height: calc(100vh - 48px)

    +from($lge)
      min-height: calc(100vh - 60px)

  &:nth-child(odd)
    .sectionInner
      background: $backgroundColor
      color: $textColor

  &:nth-child(even)
    .sectionInner
      background: lighten($darkColor, 75%)
      color: $backgroundColor

.column
  composes: column from 'app/assets/stylus/common.styl'
