@import '~app/assets/stylus'


.root
  line-height: 1.125

  h1
    margin-bottom: 16px
    font-size: 48px
    text-align: center

  p
    font-size: 18px
    text-indent: 2em

    &:not(:last-child)
      margin-bottom: 0.5em
