@import '~app/assets/stylus'


.root
  line-height: 1.125

  h1
    margin-bottom: 16px
    font-size: 48px
    text-align: center

  p
    font-size: 18px
    text-indent: 2em

    &:not(:last-child)
      margin-bottom: 0.5em

.sectionOuter
  .sectionInner
    min-height: calc(100vh - 48px)
    padding: 16px 0

    +from($lge)
      min-height: calc(100vh - 160px)

  &:nth-child(odd)
    .sectionInner
      background: $backgroundColor

  &:nth-child(even)
    .sectionInner
      background: $sectionColor

.column
  composes: column from 'app/assets/stylus/common.styl'

.content
  display: flex

.left
  width: 50%
  flex: 0 0 auto
  margin-right: 16px

.right
  flex: 1 1 auto

.question
  .root h1&
    font-size: 32px
    text-align: right

.graph
  object-fit: contain
  max-width: 100%

