@import '~app/assets/stylus'


$infoWidth = 140px
$padding = 24px

.root
  background: $textColor
  color: $backgroundColor
  line-height: 1.15

.column
  composes: column from 'app/assets/stylus/common.styl'

.wrapper
  display: flex
  flex-direction: row
  flex-wrap: wrap
  border-top: 1px solid $borderColor
  border-left: 1px solid $borderColor
  margin-right: -1px

.info
  flex: 1 0 auto
  min-width: $infoWidth
  padding: $padding
  border-bottom: 1px solid $borderColor
  border-right: 1px solid $borderColor

  li
    &:not(:last-child)
      margin-bottom: .25em

    & > a
      text-decoration: none
      font-weight: 600
      color: $themeColor

      // &:hover
      //   color: $brightLinkHoverColor

.double
  flex: 2 0 auto
  width: (2 * $infoWidth)

.full
  flex-basis: 100%

.social
  display: flex
  justify-content: space-between
  align-items: center

  a
    &:hover
      color: $themeColor

    &:not(:last-child)
      margin-right: 8px

.copyright
  white-space: nowrap
