@import '~app/assets/stylus';


$imgSize = 32px

.root
  padding: 16px
  border: 1px solid $borderColor
  border-radius: 4px

.header
  display: flex
  align-items: center
  margin-bottom: 8px

.name
  flex: 1 1 auto
  font-size: 24px
  color: $themeColor

  a
    text-decoration: none

    &:hover
      text-decoration: underline

.profile
  display: inline-block
  height: $imgSize
  width: $imgSize
  flex: 0 0 auto
  align-self: flex-start
  margin-left: 16px

  img
    height: $imgSize
    width: $imgSize

.info
  margin-bottom: 8px

.meta
  display: flex

.language
  flex: 1 1 auto

.icon
  margin-right: 0.5em
  vertical-align: middle

.stargazers
  flex: 0 0 auto
  text-decoration: none
  transition: color 250ms ease-in-out

  &:hover
    color: $themeColor

.star
  margin-right: 0.5em
