@import '~app/assets/stylus';


.root
  content: ''

.heading
  font-size: 48px
  margin-bottom: 16px

.subheading
  font-size: 32px
  margin-bottom: 8px

.repo
  &:not(:last-child)
    margin-bottom: 8px
