$_zIndexNegative = -1
$_zIndexLevel1 = 100
$_zIndexLevel2 = 200
$_zIndexLevel3 = 300
$_zIndexLevel4 = 400
$_zIndexLevel5 = 500
$_zIndexLevel6 = 600
$_zIndexLevel7 = 700
$_zIndexLevel8 = 800
$_zIndexLevel9 = 900
$_zIndexLevel10 = 1000
$_zIndexMax = 2147483647

$zIndexSiteHeader = $_zIndexLevel7
$zIndexOverlay = $_zIndexLevel8
$zIndexDrawer = $_zIndexLevel9

$zIndexUnsupportedMessage = $_zIndexMax
