@import '~app/assets/stylus'


.root
  position: relative
  min-height: 500px

.map
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  height: 100%
  width: 100%
  max-height: 100%
  max-width: 100%

.region
  cursor: pointer
  fill: $darkColor
  transition: fill 250ms ease-in-out

  &:hover
    fill: $themeColor
