@import '~app/assets/stylus'


.root
  position: relative
  overflow: hidden

.controls
  display: flex
  justify-content: space-between
  margin-bottom: 16px

.control
  composes: button from 'app/assets/stylus/common.styl'
  position: relative
  font-size: 16px
  line-height: 1.5
  color: $themeColor

  &::before
  &::after
    position: absolute
    top: 50%
    transform: translateY(-50%)
    font-size: 2em

  &:disabled
    color: $borderColor
    cursor: not-allowed

.back
  composes: control
  padding-left: 1em

  &::before
    left: 0
    content: '‹'

.forward
  composes: control
  padding-right: 1em

  &::after
    right: 0
    content: '›'

.slider
  display: flex
  margin-bottom: 16px
  overflow: visible

.stage
  width: 100%
  flex: 0 0 auto

.pagination
  text-align: center

.dot
  composes: button from 'app/assets/stylus/common.styl'
  height: 16px
  width: @height
  border-radius: 50%
  margin-bottom: (@height / 2)
  background: rgba($sliderDotsColor, 0.25)
  pointer-events: initial

  &:not(:first-child)
    margin-left: (@width / 4)

  &:not(:last-child)
    margin-right: (@width / 4)

  &:disabled
    cursor: not-allowed

.current
  background: rgba($sliderDotsColor, 0.5)

.loader
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: flex
  height: 100%
  width: 100%
  justify-content: center
  align-items: center
  background: transparent
  font-size: 100px
  transition: background 250ms ease-in-out
  pointer-events: none

.loading
  background: rgba($black, 0.35)
  pointer-events: initial

.hidden
  visibility: hidden

.blur
  filter: none
  transition: filter 250ms ease-in-out

.blurred
  filter: blur(3px)
